.details {
  display: flex;
  margin: 20px;
  align-items: center;
}

h1{
  text-align: center;
  margin-top: 20px;
}

h2, h3, p{
  padding: 20px;
}

.spinner {
  display: flex;
  justify-content: center;
  margin: 20px;
}
