<div class="container">
  <h1>Add Post</h1>
<form #addForm="ngForm" (ngSubmit)="onSubmit(addForm)">
  <mat-form-field appearance="fill">
    <label for="title">Post Title</label>
    <input id="title" matInput required name="title" ngModel />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <label for="image">Post Image</label>
    <input id="image" matInput placeholder="Insert image URL" required name="image" ngModel>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <label for="author">Post Author</label>
    <input id="author" matInput required name="author" ngModel>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <label for="body">Post Body</label>
    <textarea rows="5" cols="40" id="body" matInput required name="body" ngModel></textarea>
  </mat-form-field>
  <button mat-raised-button color="warn" type="submit" [disabled]="!addForm.valid">Submit</button>
</form>
</div>
