mat-sidenav {
    width: 200px;
}
mat-sidenav-container{
    //width: 100%px;
    height: 100%;
}

mat-toolbar{
  position: sticky;
  top: 0;
  z-index: 10;
}

button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: orangered;
  border: none;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}
