.example-card {
  max-width: 400px;
  margin: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: orangered;
  border: none;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  position: sticky;
  top: 0;
  z-index: 10;
}

.spinner {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.btn {
  border-radius: 6px;
  width: auto;
  height: auto;
  display: flex;
  align-items: baseline;
}
